.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}

.footer h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.email-input {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: rgb(72, 72, 72);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #535bf2;
}
