#header {
  position: fixed;
  background: linear-gradient(
    rgb(116, 128, 102) 15%,
    rgb(181, 183, 167, .5) 83%,
    rgb(115, 115, 115, 0) 100%);
}

.navbar {
  color: rgb(234, 230, 228);
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  height: 100px;
  margin-left: 20px;
}

#nameTitle {
  flex-grow: 1;
  margin-right: 12x;
  text-align: center;
}

#navbarSupportedContent {
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: right;
  width: 100%;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin: 0 10px;
  color: grey;
}

a {
  font-weight: 500;
  color: rgb(96, 81, 69);
  text-decoration: inherit;
}
a:hover {
  color: rgb(234, 230, 228);
}
